<div class="jumbotron jumbo-facebook">
    <div class="show-title">
      <h1 class="animated slideInLeft display-3 jumboheader">Facebook</h1>
    </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Facebook Adverts</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -250px)" class="col-sm-6">
      <%= image_tag("facebook_ad_classic.jpg", :alt => "Facebook Paid Advertising", :class => "img-fluid") %>
    </div>
    <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="col-sm-6 py-1">

      <h3>Paid Advertising</h3>
      
      <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Facebook Canvas</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("iphone.png", :alt => "iphone", :class => "img-fluid  mx-auto d-block mb-30") %>
    </div>

    <div class="col-sm-4">
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Meeting your Objectives</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <i class="fa fa-bullhorn fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Brand Awareness</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-street-view fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Local Awareness</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-globe fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Reach</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <i class="fa fa-mouse-pointer fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Traffic</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-comments fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Engagement</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-play fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Video Views</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <i class="fa fa-exchange fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Conversions</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-shopping-basket fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Sales</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-users fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Store Visits</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cream-band">
  <div class="container">
    <p data-scroll="toggle(.fromTopIn, .fromTopOut)" class="pt-2 text-center lead">
      Whether it’s a clean and professional look, or a quirky and fun one. Whatever the style you’re looking for, our creative team can help you out.
    </p>
    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="row mb-2">
    <%= link_to 'Get a quote', contact_path, :class => "btn btn-primary d-block mx-auto button-pink" %>
    </div>
  </div>
  
</div>
