<div id="welcome">
  <div class="shader">
    <div class="centered">
      <h1 class="animated slideInLeft display-1">Be Remarkable</h1>
    </div>
  </div>
</div>
<div class="container">
  <div data-scroll="toggle(.fromTopIn, .fromTopOut)" class="row">
      <h2 class="section-headers">Our Philosophy</h2>
      <hr>
  </div>
</div>
<div class="cream-band">
 
  <div data-scroll="toggle(.fromBottomIn, .fromBottomOut)" class="container">
      <p class="text-box lead">We pride ourselves in <strong>innovation</strong>
      and <strong>ingenuity</strong> in all our endeavours,
      not just as a quality indicator, but
      quite literally to cause <strong class="pink">remark</strong>.</p>
  </div>
    
</div>

<div id="flamingo">
  
</div>


<div class="cream-band">
 
  <div class="container">
      <p data-scroll="toggle(.fromBottomIn, .fromBottomOut)" class="text-box lead">We make people laugh and smile,
      supply that ‘wow’ factor or sometimes
      just a meaningful thought, all with the
      aim of <strong class="pink">standing out from the crowd</strong>
      and fostering <strong class="pink">brand loyalty</strong></p>
  </div>
    
</div>

<%= render "partials/circles" %>