<div class="jumbotron jumbo-instagram">
    <div class="show-title">
      <h1 class="animated slideInLeft display-3 jumboheader">Instagram</h1>
    </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Instagram Adverts</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -450px)" class="col-sm-6">
      <%= image_tag("instagram_advert.jpg", :alt => "Instagram Paid Advertising", :class => "img-fluid") %>
    </div>
    <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -450px)" class="col-sm-6 py-1">

      <h3>Instagram Advertising</h3>
      
      <p class="lead">With 500 million monthly active users, using instagram as a platform for brand promotion is something businesses should seriously consider. Instagram is arguably a key part of daily life for many, and therefore makes it the perfect marketing space. Over 60% of instagram users login daily, making it the second most engaging network after Facebook.</p>

      <p class="lead">Visual data is processed 60,000 times faster by the brain than text, 40% of people respond better to information presented with or by images as opposed to plain text. With 65% of the population being visual learners, visual content and the impact it has is becoming increasingly important for marketers. Studies have shown that visual appeal matters in over 90% of purchases made, and therefore visual marketing and the power of photos should be considered highly important.</p>

      <p class="lead">Unlike twitter and facebook, the main focus of instagram is the image. The image comes first, whereas on other platforms text does. Business insider claims that instagram posts receive 50 times more engagement from users than on twitter. According to a report done by Shopify, instagram posts achieve 1.08% conversion rate. Despite being lower than Facebook, it is still better than Twitter (0.77%) or Pinterest (0.54%).</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Why Advertise on Instagram</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>300 million daily users</h6>
        <p> Instagram is a part of daily life for many people and therefore makes it the perfect marketing space for your business.<small class="pink">(<a class="pink" href="http://blog.instagram.com/tagged/instagram-news">Instagram Blog</a>)</small></p>
      </div>
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Second most engaging Social Network</h6>
        <p>Over 60% of instagram users login daily, making it the second most engaging network after Facebook. <small class="pink">(<a class="pink" href="https://www.brandwatch.com/blog/37-instagram-stats-2016/">Brandwatch</a>)</small></p>


      </div>
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Instagram is used by 48.8% of brands</h6>
        <p>Marketers are expanding their use of Instagram to promote their brands in everything from porridge to printers. According to a forecast by <a class="pink" href="https://www.emarketer.com/Article/Number-of-Companies-Using-Instagram-Nearly-Double-Next-Year/1013122">eMarketer</a>, 48.8 percent of U.S. brands will use Instagram for social media marketing in 2016.</p>
        
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("iphone.png", :alt => "iphone", :class => "img-fluid  mx-auto d-block mb-30") %>
    </div>

    <div class="col-sm-4">
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>600 million active monthly users</h6>
        <p>Instagram now has over 600 million active monthly users and that number is growing.<small class="pink">(<a class="pink" href="http://blog.instagram.com/tagged/instagram-news">Instagram Blog</a>)</small></p>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>75% of Instagram users take action</h6>
        <p>According to <a class="pink" href="http://blog.business.instagram.com/post/150771324916/instagram-advertiser-number">Instagram Advertiser</a> statistics, 50 percent of Instagram users follow at least one business, 60 percent say that they learn about a product or service on the platform, and 75 percent of Instagram users take action, such as visiting a website, after looking at an Instagram advertising post.</p>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>80% of Users Non-US</h6>
        <p>With 80% of users being from outside the US this gives companies opportunites to have truly global reach. <small class="pink">(<a class="pink" href="http://blog.instagram.com/post/146255204757/160621-news">Instagram Blog</a>)</small></p>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Meeting your Objectives</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <i class="fa fa-bullhorn fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Brand Awareness</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-street-view fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Local Awareness</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-globe fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Reach</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <i class="fa fa-mouse-pointer fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Traffic</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-comments fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Engagement</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-play fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Video Views</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <i class="fa fa-exchange fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Conversions</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-shopping-basket fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Sales</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <i class="fa fa-users fa-2x mb-1" aria-hidden="true"></i>
          <h3 class="card-title">Store Visits</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cream-band">
  <div class="container">
    <p data-scroll="toggle(.fromTopIn, .fromTopOut)" class="pt-2 text-center lead">
      Whether it’s a clean and professional look, or a quirky and fun one. Whatever the style you’re looking for, our creative team can help you out.
    </p>
    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="row mb-2">
    <%= link_to 'Get a quote', contact_path, :class => "btn btn-primary d-block mx-auto button-pink" %>
    </div>
  </div>
  
</div>
