<div class="jumbotron jumbo-search">
    <div class="show-title">
      <h1 class="animated slideInLeft display-3 jumboheader">S E O</h1>
    </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Get to the top of Google</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, prima malis et eum, vel cu offendit evertitur, etiam accommodare eu eum. Unum iudicabit cotidieque vis ut, no pri minimum maiestatis mnesarchum. Ne ferri mutat saperet eum, has mundi elaboraret ex. Vix facer consul temporibus ea, has te populo ornatus. Has eu habeo torquatos vituperatoribus, et has aliquam quaestio, vis at quaeque pertinax. Fuisset dissentias mediocritatem mel te.</p>
    </div>
    <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, prima malis et eum, vel cu offendit evertitur, etiam accommodare eu eum. Unum iudicabit cotidieque vis ut, no pri minimum maiestatis mnesarchum. Ne ferri mutat saperet eum, has mundi elaboraret ex. Vix facer consul temporibus ea, has te populo ornatus. Has eu habeo torquatos vituperatoribus, et has aliquam quaestio, vis at quaeque pertinax. Fuisset dissentias mediocritatem mel te.</p>
    </div>

  </div>
</div>

<div class="cream-band my-2">
  <div class="container">
    <div data-scroll="toggle(.fromTopIn, .fromTopOut) offset(0, -150px)" class="row py-2">
      <div class="text-center col-xs-6 col-md-3">
        <i class="pink fa fa-users fa-5x" aria-hidden="true"></i>
        <h6 class="mt-1 grey"><strong>317 Million Users</strong></h6>
        <p class="mb-0">There are currently some 317million users on twitter according to <a class="pink" href="http://venturebeat.com/2016/10/27/twitter-q3-2016-earnings/">Venture Beat</a></p>
      </div>
      <div class="text-center col-xs-6 col-md-3">
        <i class="pink fa fa-line-chart fa-5x" aria-hidden="true"></i>
        <h6 class="mt-1 grey"><strong>Growing Network</strong></h6>
        <p class="mb-0">Slower growth than the younger networks such as Snapchat, but it is nonetheless still growing.</a></p>
      </div>
      <div class="text-center col-xs-6 col-md-3">
        <i class="pink fa fa-bolt fa-5x" aria-hidden="true"></i>
        <h6 class="mt-1 grey"><strong>Rapid</strong></h6>
        <p class="mb-0">As the Twitter's CEO Jack Dorsey recently stated "...its the fastest way to see what's happening and what everyone's talking about"</p>
      </div>
      <div class="text-center col-xs-6 col-md-3">
        <i class="pink fa fa-mobile fa-5x" aria-hidden="true"></i>
        <h6 class="mt-1 grey"><strong>Target Users on the Go</strong></h6>
        <p class="mb-0">Target and retarget twitter users whilst they are on the move.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Title</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="http://fillmurray.com/800/800">
    </div>
    <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, prima malis et eum, vel cu offendit evertitur, etiam accommodare eu eum. Unum iudicabit cotidieque vis ut, no pri minimum maiestatis mnesarchum. Ne ferri mutat saperet eum, has mundi elaboraret ex. Vix facer consul temporibus ea, has te populo ornatus. Has eu habeo torquatos vituperatoribus, et has aliquam quaestio, vis at quaeque pertinax. Fuisset dissentias mediocritatem mel te.</p>
      <p class="lead">Lorem ipsum dolor sit amet, prima malis et eum, vel cu offendit evertitur, etiam accommodare eu eum. Unum iudicabit cotidieque vis ut, no pri minimum maiestatis mnesarchum. Ne ferri mutat saperet eum, has mundi elaboraret ex. Vix facer consul temporibus ea, has te populo ornatus. Has eu habeo torquatos vituperatoribus, et has aliquam quaestio, vis at quaeque pertinax. Fuisset dissentias mediocritatem mel te.</p>
    </div>

  </div>
</div>

<div class="cream-band mt-2">
  <div class="container">
    <p data-scroll="toggle(.fromTopIn, .fromTopOut)" class="pt-2 text-center lead">
      Whether it’s a clean and professional look, or a quirky and fun one. Whatever the style you’re looking for, our creative team can help you out.
    </p>
    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="row mb-2">
    <%= link_to 'Get a quote', contact_path, :class => "btn btn-primary d-block mx-auto button-pink" %>
    </div>
</div>
  
</div>