<footer>
  <div class="container">
    <div class="row">
      
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x grey"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x grey"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x grey"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x grey"></i>
      </span>

      <h2 class="footer">CONTACT US</h2>
      <p><i class="fa fa-phone" aria-hidden="true"></i> 0330 332 0611</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> info@ipsofactouk.com</p>


      <%= image_tag("ipso_facto_white.svg", :alt => "IpsoFacto Logo", :class => "footer-logo") %>
    <div class="col-md-4">
      <p class="small pink">Terms of Use</p>
    </div>
    <div class="col-md-4">
      <p class="small pink">Copyright</p>
    </div>
    <div class="col-md-4">
      <p class="small pink">Privacy Policy</p>
    </div>
      

      <p class="small">Ipso Facto Ltd registered in England and Wales. Company Number 0952 0886
VAT Registration 210 9701 41</p>
     
    </div>
  </div> 
</footer>