# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1e0871cb48beaef6386fd57af9aa1a123a24a8591730f5d0cc49dbd4aa983e7144f26d256e35f8a1d5a2f3de0602ecb7d1ff6b9b75aaeb635cc9ea5500605693

test:
  secret_key_base: ac48617034087c38a4220946b6259672f3f6f93932823359626aa9abb6ba585a9a0e836fec85040cc050be7f3812a7c5d2fcac8315285c5d77e407aa2c65e7f7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
